<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', {docTitle: 'All of Your Orders'}) %>
  <link rel="stylesheet" href="/styles/cart.css" />
  <link rel="stylesheet" href="/styles/order-history.css" />
  <script src="/scripts/order-history.js" defer></script>
  <body>
    <%- include('includes/header') %>
    <main id="order-history-main">
      <section id="order-history-section">
        <h1>Order History</h1>
          <% if (fetchOrders.length > 0) { %> 
            <% for (fetchOrder of fetchOrders) { %>
              <hr class="hr-solid">
              <h3 class="order-id-h3">Order ID <%= fetchOrder._id %></h3>
                <ul class="shipping-and-products-container">
                  <li class="shipping-and-payment-container">
                    <ul class="shipping-payment-details">
                      <li>
                        <p>Email: <%= fetchOrder.email %></p>
                      </li>
                      <li>
                        <p>Title: <%= fetchOrder.title %></p>
                      </li>
                      <li>
                        <p>Name: <%= fetchOrder.firstName %> <%= fetchOrder.surname %></p>
                      </li> 
                      <li>
                        <p>Street: <%= fetchOrder.street %> <%= fetchOrder.streetNumber %></p>
                      </li>
                      <li>
                        <p>Area Code: <%= fetchOrder.areaCode %></p>
                      </li>
                      <li>
                        <p>City: <%= fetchOrder.city %></p>
                      </li>
                      <li>
                        <p id="country-p">Country: <%= fetchOrder.country %></p>
                      </li>
                      <li>
                        <p id="payment-method-p">Payment Method: <%= fetchOrder.paymentMethod %></p>
                      </li>
                    </ul> 
                    <input
                    type="hidden"
                    id="_csrf"
                    name="_csrf"
                    value="<%= locals.csrfToken %>"
                    />
                  </li>
                  <li class="products-container">
                    <% for (let i = 0; i < fetchOrder.products.length; i++) { %>
                      <ul id="cart-items-container">
                        <li class="cart-item-container">
                          <h3><%= fetchOrder.products[i].title %></h3>
                          <img
                          src="<%= fetchOrder.products[i].imagePath %>"
                          alt="image of ordered products"
                          />
                          <div class="cart-item-details">
                            <p class="cart-qty"
                            name="cart-qty">Quantity: <%= fetchOrder.products[i].quantity %></p>               
                            <p>
                              Price per unit: € <%= fetchOrder.products[i].price %>
                            </p>
                            <p class="total-price" data-totalPrice="<%= fetchOrder.products[i].totalPrice %>">
                              Total: € <%= fetchOrder.products[i].totalPrice %>
                            </p>
                          </div>
                        </li>
                      </ul>
                      <% } %> 
                    </li>
                </ul>
                <ul>
                  <li id="cart-grand-total-container">
                    <h3 class="grand-total-h3"></h3>
                    <p></p>
                  </li>
                </ul>
            <% } %>
      </section>
          <% } else { %> 
      <ul id="no-orders">
        <p>You have not placed an order yet with this account.</p>
        <a href="/products">Show Products</a>
      </ul>
      <% } %> 
      <%- include('includes/aside') %>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
