<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', {docTitle: 'Products'}) %>
  <link rel="stylesheet" href="/styles/products.css" />
  <script src="/scripts/products-overview.js" defer></script>
  <script src="/scripts/add-products-cart.js" defer></script>
  <body>
    <%- include('includes/header') %>
    <main>
      <section>
        <h1 id="h1-products-overview">Products</h1>
        <input
          type="hidden"
          name="_csrf"
          id="_csrf"
          value="<%= locals.csrfToken %>"
        />
        <ul class="products-container">
          <% for (productData of allProductData) { %>
          <li class="product-container">
            <img src="<%= productData.imagePath %>" alt="" />
            <h2><%= productData.title %></h2>
            <div class="product-details-overall-container">
              <label for="product-qty">Amount:</label>
              <div class="product-details-1">
                <button id="minus-amount">-</button>
                <input
                  readonly
                  type="number"
                  name="product-qty"
                  class="product-qty"
                />
                <button id="plus-amount">+</button>
              </div>
              <div class="product-details-2">
                <p>Price: € <%= productData.price %></p>
              </div>
              <div class="product-details-3">
                <a href="/product/<%= productData._id %>/details">Details</a>
                <button id="add-to-cart-btn">Add to Cart</button>
              </div>
            </div>
          </li>
          <% } %>
        </ul>
      </section>
      <%- include('includes/aside') %>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
