<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head', {docTitle: 'Admin Orders Overview'}) %>
  <link rel="stylesheet" href="../styles/admin.css" />
  <link rel="stylesheet" href="../styles/admin-orders-overview.css" />
  <body>
    <%- include('../includes/header') %>
    <main>
      <input
        type="hidden"
        name="_csrf"
        id="csrf"
        value="<%= locals.csrfToken %>"
      />
      <h1>Order Overview</h1>
      <section id="orders-list">
        <% for (orders of ordersOverview) { %>
        <ul class="order-container">
          <li class="order-id">Id: <%= orders._id %></li>
          <li class="email"><%= orders.email %></li>
          <li class="title"><%= orders.title %></li>
          <li class="firstName"><%= orders.firstName %></li>
          <li class="surname"><%= orders.surname %></li>
          <li class="details">
            <a href="/admin/order/<%= orders._id %>/details">Details</a>
          </li>
        </ul>
        <% } %>
      </section>
      <%- include('../includes/aside') %>
    </main>
    <%- include('../includes/footer') %>
  </body>
</html>
