<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head', {docTitle: 'Admin Add Products'}) %>
  <link rel="stylesheet" href="../styles/admin.css" />
  <script src="../scripts/add-products.js" defer></script>
  <body>
    <%- include('../includes/header') %>
    <main>
      <section>
        <h1>Admin Page</h1>
        <p>You should only see this page, if you are an admin.</p>
        <form id="add-product-form" enctype="multipart/form-data">
          <input
            type="hidden"
            id="_csrf"
            name="_csrf"
            value="<%= locals.csrfToken %>"
          />
          <h1>Add a New Product</h1>
          <label for="product-title">Title</label>
          <input type="text" name="product-title" id="product-title" />
          <label for="product-price">Price</label>
          <input type="number" name="product-price" id="product-price" />
          <label for="image-path">Image Path</label>
          <input
            type="file"
            name="product-image-path"
            id="product-image-path"
          />
          <img src="" id="product-image-preview" alt="Your picked file." />
          <label for="product-summary">Summary</label>
          <textarea
            name="product-summary"
            id="product-summary"
            cols="30"
            rows="20"
          ></textarea>
          <div class="btn-ctrl">
            <button class="clear-btn" type="reset">Clear</button>
            <button class="submit-btn" type="submit">Submit</button>
          </div>
        </form>
      </section>
      <%- include('../includes/aside') %>
    </main>
    <%- include('../includes/footer') %>
  </body>
</html>
