<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head', {docTitle: 'Admin Page'}) %>
  <link rel="stylesheet" href="../styles/admin.css" />
  <link rel="stylesheet" href="../styles/products.css" />
  <script src="../../scripts/admin-edit-delete-products.js" defer></script>
  <body>
    <%- include('../includes/header') %>
    <main>
      <input
        type="hidden"
        name="_csrf"
        id="csrf"
        value="<%= locals.csrfToken %>"
      />
      <h1>Admin Page</h1>
      <p>
        You should only see this page, if you are an admin. Add, edit, or delete
        products for this shop.
      </p>
      <p>
        Click <a href="/admin/add-products">here</a> to add products. Click
        <a href="/admin/orders-overview">here</a> for an overview of all orders
        (not responsive).
      </p>
      <section id="edit-delete-products">
        <ul class="products-container">
          <% for (productData of allProductData) { %>
          <li class="product-container">
            <img src="<%= productData.imagePath %>" alt="" />
            <h2><%= productData.title %></h2>
            <div class="product-details-overall-container">
              <div class="product-details-2">
                <p>Price: € <%= productData.price %></p>
              </div>
              <div class="product-details-3">
                <a href="/admin/<%= productData._id %>/edit">Edit</a>
                <button id="add-to-cart-btn" data-id="<%= productData._id %>">
                  Delete
                </button>
              </div>
            </div>
          </li>
          <% } %>
        </ul>
      </section>
      <%- include('../includes/aside') %>
    </main>
    <%- include('../includes/footer') %>
  </body>
</html>
