<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head', {docTitle: 'Admin Order Details'}) %>
  <link rel="stylesheet" href="/styles/cart.css" />
  <link rel="stylesheet" href="/styles/order-history.css" />
  <script src="/scripts/order-history.js" defer></script>
  <body>
    <%- include('../includes/header') %>
    <main id="order-history-main">
      <section id="order-history-section">
        <h1>Order Details</h1>
          <% if (fetchOrderById) { %> 
              <hr class="hr-solid">
              <h3 class="order-id-h3">Order ID <%= fetchOrderById._id %></h3>
                <ul class="shipping-and-products-container">
                  <li class="shipping-and-payment-container">
                    <ul class="shipping-payment-details">
                      <li>
                        <p>Email: <%= fetchOrderById.email %></p>
                      </li>
                      <li>
                        <p>Title: <%= fetchOrderById.title %></p>
                      </li>
                      <li>
                        <p>Name: <%= fetchOrderById.firstName %> <%= fetchOrderById.surname %></p>
                      </li> 
                      <li>
                        <p>Street: <%= fetchOrderById.street %> <%= fetchOrderById.streetNumber %></p>
                      </li>
                      <li>
                        <p>Area Code: <%= fetchOrderById.areaCode %></p>
                      </li>
                      <li>
                        <p>City: <%= fetchOrderById.city %></p>
                      </li>
                      <li>
                        <p id="country-p">Country: <%= fetchOrderById.country %></p>
                      </li>
                      <li>
                        <p id="payment-method-p">Payment Method: <%= fetchOrderById.paymentMethod %></p>
                      </li>
                    </ul> 
                    <input
                    type="hidden"
                    id="_csrf"
                    name="_csrf"
                    value="<%= locals.csrfToken %>"
                    />
                  </li>
                  <li class="products-container">
                    <% for (fetchOrderById.product of fetchOrderById.products) { %> 
                      <ul id="cart-items-container">
                        <li class="cart-item-container">
                          <h3></h3>
                          <img
                          src="<%= fetchOrderById.product.imagePath %>"
                          alt="image of ordered products"
                          />
                          <div class="cart-item-details">
                            <p class="cart-qty"
                            name="cart-qty">Quantity: <%= fetchOrderById.product.quantity %></p>               
                            <p>
                              Price per unit: € <%= fetchOrderById.product.price %>
                            </p>
                            <p class="total-price" data-totalPrice="<%= fetchOrderById.product.totalPrice %>">
                              Total: € <%= fetchOrderById.product.totalPrice %>
                            </p>
                          </div>
                        </li>
                      </ul>
                    <% } %>
                    </li>
                </ul>
                <ul>
                  <li id="cart-grand-total-container">
                    <h3 class="grand-total-h3"></h3>
                    <p></p>
                  </li>
                </ul>
            
      </section>
          <% } else { %> 
      <ul id="no-orders">
        <p>You have not placed an order yet with this account.</p>
        <a href="/products">Show Products</a>
      </ul>
      <% } %> 
      <%- include('../includes/aside') %>
    </main>
    <%- include('../includes/footer') %>
  </body>
</html>
