<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head', {docTitle: 'Admin Edit Products'}) %>
  <link rel="stylesheet" href="/styles/products.css" />
  <link rel="stylesheet" href="/styles/admin-edit-product.css" />
  <script src="../../scripts/admin-edit-product.js" defer></script>
  <body>
    <%- include('../includes/header') %>
    <main>
      <h1>Product Details</h1>
      <section>
        <form
          class="basic-forms"
          action="/admin-edit"
          method="POST"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
          <input
            type="hidden"
            name="objectId"
            value="<%= productDetails._id %>"
          />
          <input
            type="hidden"
            name="imagePath"
            value="<%= productDetails.imagePath %>"
          />
          <label for="title">Title:</label>
          <input type="text" name="title" value="<%= productDetails.title %>" />
          <ul class="image-container">
            <li>
              <h3>Current Picture</h3>
              <img
                src="<%= productDetails.imagePath %>"
                alt="current-picture-of-product"
              />
            </li>
            <li>
              <h3>New Picture</h3>
              <img src="" id="new-picture" alt="new-picture-of-product" />
              <input
                name="product-image-path"
                id="product-image-path"
                type="file"
              />
            </li>
          </ul>
          <label for="summary">Summary: </label>
          <textarea type="text" name="summary" id="summary" cols="30" rows="10">
  <%= productDetails.summary %></textarea
          >
          <label for="price">Price: </label>
          <input
            type="number"
            name="price"
            id="price"
            value="<%= productDetails.price %>"
          />
          <div class="product-details-3">
            <button type="submit" id="save-btn">Save</button>
          </div>
        </form>
      </section>
      <%- include('../includes/aside') %>
    </main>
    <%- include('../includes/footer') %>
  </body>
</html>
