<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', {docTitle: 'Your Cart'}) %>
  <link rel="stylesheet" href="/styles/cart.css" />
  <link rel="stylesheet" href="../styles/checkout.css" />
  <script src="/scripts/edit-cart.js" defer></script>
  <script src="../scripts/checkout.js" defer></script>
  <body>
    <%- include('includes/header') %>
    <main id="checkout-main">
      <section id="cart-summary">
        <input
          type="hidden"
          id="_csrf"
          name="_csrf"
          value="<%= locals.csrfToken %>"
        />
        <ul id="cart-items-container">
          <% if (cartItems && cartItems.length > 0) { %> 
            <% for (cartItem of cartItems) { %>
          <li class="cart-item-container">
            <h3><%= cartItem.title %></h3>
            <img
              src="<%= cartItem.imagePath %>"
              alt="image of the product in cart"
            />
            <div class="cart-item-details">
              <div class="cart-item-qty">
                <label for="cart-qty">Quantity: </label>
                <button class="minus-amount-cart">-</button>
                <input
                  readonly
                  type="number"
                  class="cart-qty"
                  name="cart-qty"
                  value="<%= cartItem.quantity %>"
                />
                <button class="plus-amount-cart">+</button>
              </div>
              <div class="cart-item-price">
                <p data-price="<%= cartItem.price %>">
                  Price per unit: <%= cartItem.price %>
                </p>
                <p
                  class="total-price"
                  data-total-price="<%= cartItem.totalPrice %>"
                >
                  Total: € <%= cartItem.totalPrice %>
                </p>
              </div>
              <button class="remove-item-btn" data-li-index="<%= liIndex++ %>">
                Remove Item
              </button>
            </div>
          </li>
          <% } %>
        </ul>
        <ul>
          <li id="cart-grand-total-container">
            <h3 id="grand-total-h3">Grand Total:</h3>
            <p></p>
          </li>
        </ul>
      </section>
      <section id="shipping-payment">
        <form
          action="/order-placed"
          method="POST"
          id="checkout-form"
          enctype="multipart/form-data"
        >
          <input
            type="hidden"
            id="_csrf"
            name="_csrf"
            value="<%= locals.csrfToken %>"
          />
          <h1>Shipping & Payment</h1>
          <p class="error-messages"><%= locals.errorMessage %></p>
          <ul class="email-container">
            <li class="label-container">
              <label for="e-mail">E-Mail (unchangeable, if logged in):</label>
              <% if (locals.loggedInEmail) { %>
              <input
                readonly
                name="email"
                id="email"
                type="email"
                value="<%= locals.loggedInEmail %>"
              />
              <% } else { %>
              <input
                name="email"
                id="email"
                type="email"
                value="<%= locals.email %>"
              />
              <% } %>
            </li>
            <li class="label-container">
              <label for="confirm-e-mail">Confirm E-Mail:</label>
              <% if (locals.loggedInEmail) { %>
              <input
                readonly
                name="confirm-email"
                id="confirm-email"
                type="email"
                value="<%= locals.loggedInEmail %>"
              />
              <% } else { %>
              <input
                name="confirm-email"
                id="confirm-email"
                type="email"
                value="<%= locals['confirm-email'] %>"
              />
              <% } %>
            </li>
          </ul>
          <ul class="name-container">
            <li class="label-container">
              <label for="title">Title:</label>
              <select name="title" id="title">
                <option value="Mr.">Mr.</option>
                <option <%="locals.option2" %>value="Mrs.">Mrs.</option>
              </select>
            </li>
            <li class="label-container">
              <label for="name">Name:</label>
              <input
                type="text"
                name="name"
                id="name"
                value="<%= locals.name %>"
              />
            </li>
            <li class="label-container">
              <label for="surname">Surname:</label>
              <input
                type="text"
                name="surname"
                id="surname"
                value="<%= locals.surname %>"
              />
            </li>
          </ul>
          <ul class="address-container-street">
            <li class="label-container">
              <label for="address-street">Street:</label>
              <input
                type="text"
                name="address-street"
                id="address-street"
                value="<%= locals.street %>"
              />
            </li>
            <li class="label-container">
              <label for="address-street-number">Nr.:</label>
              <input
                type="text"
                name="address-street-number"
                id="address-street-number"
                value="<%= locals.streetNumber %>"
              />
            </li>
            <li class="label-container">
              <label for="address-areacode">Area Code:</label>
              <input
                type="text"
                name="address-areacode"
                id="address-areacode"
                value="<%= locals.areacode %>"
              />
            </li>
          </ul>
          <ul class="address-container-area">
            <li class="label-container">
              <label for="address-city">City:</label>
              <input
                type="text"
                name="address-city"
                id="address-city"
                value="<%= locals.city %>"
              />
            </li>
            <li class="label-container">
              <label for="address-country">Country:</label>
              <select name="address-country" id="address-country">
                <option value="austria">Austria</option>
                <option <%="locals.countryOption2" %>
                  value="france">France
                </option>
                <option <%="locals.countryOption3" %>
                  value="germany">Germany
                </option>
              </select>
            </li>
          </ul>
          <ul class="payment-method-container" id="payment-method-container">
            <li>
              <label for="payment-methods">Payment Method:</label>
              <select name="payment-methods" id="payment-methods">
                <option value="paypal">PayPal</option>
                <option <%="locals.paymentMethodOption2" %>
                  value="credit-card">Credit Card
                </option>
              </select>
            </li>
          </ul>
          <ul
            class="paypal-container"
            id="paypal-container"
            style="<%= locals.displayPaymentMethodOption1 %>"
          >
            <li class="label-container">
              <label for="paypal-email">PayPal E-Mail:</label>
              <input
                type="email"
                name="paypal-email"
                id="paypal-email"
                value="<%= locals.paypalEmail %>"
              />
            </li>
          </ul>
          <ul
            class="credit-card-container"
            id="credit-card-container"
            style="<%= locals.displayPaymentMethodOption2 %>"
          >
            <li class="label-container">
              <label for="card-holder">Card Holder:</label>
              <input
                type="text"
                name="card-holder"
                id="card-holder"
                value="<%= locals.cardHolder %>"
              />
            </li>
            <li class="label-container">
              <label for="card-number">Credit Card Number:</label>
              <input
                type="text"
                name="card-number"
                id="card-number"
                value="<%= locals.cardNumber %>"
              />
            </li>
            <li class="label-container">
              <label for="cvc">CVC:</label>
              <input
                type="text"
                name="cvc"
                id="cvc"
                value="<%= locals.cvc %>"
              />
            </li>
          </ul>
          <div class="btn-ctrl">
            <a href="/products">Back to Products</a>
            <button type="submit">Submit</button>
          </div>
        </form>
      </section>
      <ul id="items-in-cart-removed">
        <p>Please add items to your cart.</p>
        <a href="/products">Go Back</a>
      </ul>
      <% } else { %>
      <ul id="no-items-in-cart">
        <p>Please add items to your cart.</p>
        <a href="/products">Go Back</a>
      </ul>
      <% } %> <%- include('includes/aside') %>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
