<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', {docTitle: 'Product Details'}) %>
  <link rel="stylesheet" href="/styles/product-details.css" />
  <body>
    <%- include('includes/header') %>
    <main>
      <h1>Product Details</h1>
      <section class="basic-forms">
        <h2><%= productDetails.title %></h2>
        <img src="<%= productDetails.imagePath %>" alt="image of the product" />
        <p><%= productDetails.summary %></p>
        <p>Price: € <%= productDetails.price %></p>
      </section>
      <%- include('includes/aside') %>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
